.meme-generator-main
{
  /* background-color: red; */
  margin: 2.5rem 5rem;
  font-family: Inter, sans-serif;
}

.meme-generator-form-container
{
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
}

.meme-generator-form-container .meme-generator-form-row
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .meme-generator-form-container .meme-generator-form-row div
{
} */

.meme-generator-form-container .meme-generator-form-row input
{
  min-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 5px;
  font-size: 16px;
}

.meme-generator-form-container button
{
  background-color: purple;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme > img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.meme span {
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}